.menu {
  color: darkseagreen;
  font-size: larger;
  font-weight: bolder;
}

.parrafo {
  color: deepskyblue;
  font-style: italic;
}

.tituloparrafo {
  color: mediumpurple;
  font-weight: bolder;
  font-size: larger;
}
